@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

:root {
  --background-color: #f2f3f3;
  --dark-background-color: #b1b4b8;
  --secondary-background-color: #dbeafe;
  --surface-color: #ffffff;
  --text-primary: #111827;
  --text-secondary: #6b7280;
  --button-text: #ffffff;
  --button-primary: #3b82f6;
  --hover-button-primary: #2563eb;
  --hover-button-secondary: #d1d5db;
  --button-secondary: #121825;
  --success: #10b981;
  --info: #f59e0b;
  --border: #d6d7db;
  --danger: #ef4444;
}
